<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>Camera API</title>
            {% load static %}
            <script src="{% static 'camera/show.js' %}"></script>
            </script>
    </head>

    <body>
        <div class="container">
            <section class="main-content">
                <form action="" method="post">
                    {% csrf_token %}
                    <table border="1">
                        <tr>
                            <td>
                                正面<br>
                                <img src="about:blank" alt="" id="show_id_front" width="" height=""><br>
                                {{ form.front }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                右面<br>
                                <img src="about:blank" alt="" id="show_id_right" width="" height=""><br>
                                {{ form.right }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                后面<br>
                                <img src="about:blank" alt="" id="show_id_back" width="" height=""><br>
                                {{ form.back }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                左面<br>
                                <img src="about:blank" alt="" id="show_id_left" width="" height=""><br>
                                {{ form.left }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                顶面<br>
                                <img src="about:blank" alt="" id="show_id_top" width="" height=""><br>
                                {{ form.top }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                底面<br>
                                <img src="about:blank" alt="" id="show_id_bottom" width="" height=""><br>
                                {{ form.bottom }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Submit" />
                </form>

            </section>
        </div>
    </body>
</html>